<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Ckick Alert</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
      function onClickFunction() {
        alert("Warning!");
      }
    </script>
  </head>
  <body>
    <main>
      <button type="button" style="display: block; margin: 50px auto;" onclick=onClickFunction() >Click Me</button>
    </main>
  </body>
</html>
