<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Examples</title>
    <link rel="stylesheet" href="./examples.css" />
  </head>
  <body>
    <main>
      <h1 class="title">Browse Examples</h1>
      <ul>
        <li><a th:href="@{typography}">Typography</a></li>
        <li><a th:href="@{forms}">Forms</a></li>
        <li><a th:href="@{images}">Images</a></li>
        <li><a th:href="@{fonts}">Fonts</a></li>
        <li><a th:href="@{layout}">Layout</a></li>
        <li><a th:href="@{clickAlert}">Click Alert</a></li>
      </ul>

      <h1 class="title">Browse Sample Websites</h1>
      <ul>
        <li><a th:href="@{EmergencyBroadcast}">Emergency Broadcast</a></li>
        <li><a th:href="@{ZombiesNearMe}">Zombies Near Me</a></li>
        <li><a th:href="@{ZombiePoster}">Zombie Hunter Recruitment Poster</a></li>
      </ul>
    </main>
  </body>
</html>
